.moderator-section-container {
  display: grid;
  grid-template-rows: 32px 1fr;
  row-gap: 16px;
  width: 100%;

  padding: 16px;

  background-color: rgba(0, 0, 0, 0.5);
  
  clip-path: polygon(12px 0%, 100% 0%, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0% 100%, 0% 12px);

  box-sizing: border-box;
}

.moderator-info-title {
  font-family: "Raleway", cursive;
  font-size: 28px;
  color: rgb(78, 78, 78);

  text-align: start;
  border-bottom: 1px solid rgb(78, 78, 78);
  margin: 0;
}

.open-design-studio-button {
  font-family: "Raleway", cursive;
  font-size: 28px;
  color: white;
  
  border: none;

  background: rgb(57, 22, 87);

  clip-path: polygon(12px 0%, 100% 0%, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0% 100%, 0% 12px);

  cursor: pointer;

  margin: 0 4px 0 4px;
  padding: 8px;

  transition: background-color 0.3s ease;
}
.open-design-studio-button:hover {
  background-color: rgba(57, 22, 87, 0.8);
}