.background-container {
  min-height: 100vh;
  width: 100%;

  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.verify-container {
  display: grid;
  grid-template-rows: 48px 1fr;
  row-gap: 64px;

  width: 100%;
  max-width: 1400px;

  margin: 0 auto;
  padding: 84px 48px 48px 48px;
}

.verify-title {
  font-family: "Raleway", cursive;
  font-size: 28px;
  font-weight: 600;
  color: rgb(78, 78, 78);

  margin: 0;
}

.verify-text {
  font-family: "Raleway", cursive;
  font-size: 18px;
  color: rgb(78, 78, 78);

  margin: 0;
}

.verify-link {
  text-decoration: none;

  font-family: "Raleway", cursive;
  font-size: 18px;
  color: rgb(78, 78, 78);
}

.verify-link:hover {
  text-decoration: underline;
}