.background-container {
  min-height: 100vh;
  width: 100%;

  position: relative;

  background-color: rgb(19, 19, 19);
}

.cart-container {
  display: grid;
  grid-template-rows: 48px 1fr;
  row-gap: 64px;

  width: 100%;
  max-width: 1400px;

  margin: 0 auto;
  padding: 84px 48px 48px 48px;
}

.ct-span {
  border-bottom: 1px solid rgb(78, 78, 78);
}

.cart-title {
  font-family: "Raleway", cursive;
  font-size: 36px;
  color: rgb(78, 78, 78);

  text-align: center;
  margin: 0;
}

.cart-outer-container {
  display: grid;
  grid-template-columns: 1fr 400px;
  column-gap: 48px;

  width: 100%;

  margin: 0;
  padding: 16px;
}

.cart-info-container {
  display: grid;
  row-gap: 16px;

  width: 100%;

  margin: 0;
  padding: 8px;

  background-color: rgba(0, 0, 0, 0.5);
  
  clip-path: polygon(12px 0%, 100% 0%, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0% 100%, 0% 12px);
}

.clear-cart-button {
  font-family: "Raleway", cursive;
  font-size: 28px;
  color: white;

  border: none;

  background: rgb(57, 22, 87);

  clip-path: polygon(12px 0%, 100% 0%, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0% 100%, 0% 12px);

  transition: background 0.3s ease;
}

.clear-cart-button:hover {
  cursor: pointer;

  background: rgba(57, 22, 87, 0.7);
}

.item-container {
  display: grid;
  row-gap: 4px;

  padding: 8px;

  background-color: rgb(32, 32, 32);
  clip-path: polygon(12px 0%, 100% 0%, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0% 100%, 0% 12px);
}

.item-title {
  font-family: "Raleway", cursive;
  font-size: 24px;
  font-weight: 600;
  color: rgb(78, 78, 78);
}

.item-text {
  font-family: "Raleway", cursive;
  font-size: 16px;
  color: rgb(78, 78, 78);
}

.quant-div {
  margin-bottom: 8px;
}

.item-span {
  font-family: "Raleway", cursive;
  font-size: 16px;
  color: rgb(78, 78, 78);

  margin-left: 16px;
  margin-right: 16px;
}

.quantity-button {
  font-family: "Raleway", cursive;
  font-size: 16px;
  color: white;

  border: none;

  background: rgb(57, 22, 87);

  clip-path: polygon(4px 0%, 100% 0%, 100% calc(100% - 4px), calc(100% - 4px) 100%, 0% 100%, 0% 4px);

  transition: background 0.3s ease;
}

.quantity-button:hover {
  cursor: pointer;

  background: rgba(57, 22, 87, 0.7);
}

.item-remove-button {
  font-family: "Raleway", cursive;
  font-size: 16px;
  color: white;

  border: none;

  background: rgb(57, 22, 87);

  clip-path: polygon(8px 0%, 100% 0%, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0% 100%, 0% 8px);

  transition: background 0.3s ease;
}

.item-remove-button:hover {
  cursor: pointer;

  background: rgba(57, 22, 87, 0.7);
}

.cart-summary {
  display: grid;
  row-gap: 16px;

  width: 100%;
  max-width: 400px;

  margin: 0;
  padding: 8px;

  background-color: rgba(0, 0, 0, 0.5);
  
  clip-path: polygon(12px 0%, 100% 0%, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0% 100%, 0% 12px);
}

.cart-sum-title {
  font-family: "Raleway", cursive;
  font-size: 24px;
  color: rgb(78, 78, 78);
  margin: 0 8px 16px 8px;
}

.cart-sum-text {
  font-family: "Raleway", cursive;
  font-size: 16px;
  color: rgb(78, 78, 78);
  margin: 0 8px 16px 8px;
}

.checkout-button {
  font-family: "Raleway", cursive;
  font-size: 16px;
  color: white;

  border: none;

  background: rgb(57, 22, 87);

  clip-path: polygon(8px 0%, 100% 0%, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0% 100%, 0% 8px);

  transition: background 0.3s ease;
}

.checkout-button:hover {
  cursor: pointer;

  background: rgba(57, 22, 87, 0.7);
}